In [7]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [8]:
headers = {
    "User-Agent": (
        "Mozilla/5.0 (Windows NT 6.3; Win64; x64) "
        "AppleWebKit/537.36 (KHTML, like Gecko) "
        "Chrome/80.0.3987.162 Safari/537.36"
    )
}

pages=[]

for i in range(1, 8):
    url = f"https://www.ambitionbox.com/list-of-companies?designation=data-scientist&sortBy=topPaying&experience=0&page={i}"
    response = requests.get(url, headers=headers)
    pages.append(response.text)

## Finding out the Data Science Job Oppurtunities for Freshers

In [9]:
name=[]
rating=[]
avg_salary=[]
location=[]

In [10]:
for webpage in pages:
    soup=BeautifulSoup(webpage,'lxml')
    company=soup.find_all('div',class_='companyCardWrapper')
    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('div',class_='rating_text').text.strip())
        avg_salary.append(i.find('div',class_='detailedRange').text.split()[1])
        location.append(i.find('span',class_='companyCardWrapper__interLinking').text.strip().partition('|')[2].partition('/')[0].strip().partition('+')[0])

In [13]:
companyData={
    'name': name,
    'rating': rating,
    'avg_salary (L/year)' : avg_salary,
    'location':location
}

df=pd.DataFrame(companyData)
df

                               name rating avg_salary (L/year)   location
0    Franklin Templeton Investments    4.0                31.1  Hyderabad
1                            Meesho    3.7                25.1  Bangalore
2             Microsoft Corporation    3.7                22.8  Bangalore
3                        MasterCard    3.8                20.5      Pune
4                   Eternal Limited    3.6                18.9    Gurgaon
..                              ...    ...                 ...        ...
122                       Aiml Labs    4.8                 1.5
123             Maxgen Technologies    4.5                 1.8      Pune
124                    Innodatatics    3.8                 1.8  Hyderabad
125                          Rubixe    4.2                 1.6
126                      AI Variant    4.2                 1.6

[127 rows x 4 columns]

In [12]:
df.to_csv("DataScience_Jobs_Freshers")