In [37]:
import pandas as pd

In [1]:
import requests

url = "https://api.themoviedb.org/3/trending/movie/day?language=en-US"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1OTE4NjkzZWFmM2M2ZGFjNDIwY2E1MjkyZWVjNDI4OSIsIm5iZiI6MTc2MjU4ODk3My45MTM5OTk4LCJzdWIiOiI2OTBlZjkyZGNhODMwYTZlYjFjZTgwNTAiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.uXBCTLRlHizeQcXkpIdj3tuxcfAkSoONrmHKTf2he78"
}

response = requests.get(url, headers=headers)

In [20]:
df=pd.DataFrame(response.json()['results'])[['id','title','overview','original_language','release_date','vote_average']]
df

,id,title,overview,original_language,release_date,vote_average
0,1062722,Frankenstein,"Dr. Victor Frankenstein, a brilliant but egoti...",en,2025-10-17,7.762
1,1114967,Good Fortune,A well-meaning but rather inept angel named Ga...,en,2025-10-14,6.700
2,1242898,Predator: Badlands,"Cast out from his clan, a young Predator finds...",en,2025-11-05,6.753
3,7451,xXx,Xander Cage is your standard adrenaline junkie...,en,2002-08-09,6.000
4,1561969,Baramulla,A police officer investigating missing childre...,hi,2025-11-07,0.000
5,1197137,Black Phone 2,"Four years after escaping The Grabber, Finney ...",en,2025-10-15,7.216
6,1571470,The Rats: A Witcher Tale,"To pull off a daring heist, a gang of six misf...",en,2025-10-29,5.000
7,760329,The Smashing Machine,"In the late 1990s, up-and-coming mixed martial...",en,2025-10-01,6.400
8,1446358,Groom & Two Brides,Adam hilariously juggles marrying his boss's d...,ar,2025-11-07,0.000
9,617126,The Fantastic 4: First Steps,Against the vibrant backdrop of a 1960s-inspir...,en,2025-07-23,7.098
10,1252382,Tyler Perry's Finding Joy,"Joy, a successful designer, seeks a proposal a...",en,2025-11-05,6.545
11,1479945,Wicked: One Wonderful Night,Cynthia Erivo and Ariana Grande lead a one-tim...,en,2025-11-06,0.000
12,967941,Wicked: For Good,As an angry mob rises against the Wicked Witch...,en,2025-11-17,0.000
13,701387,Bugonia,Two conspiracy obsessed young men kidnap the h...,en,2025-10-23,7.800
14,1084242,Zootopia 2,After cracking the biggest case in Zootopia's ...,en,2025-11-26,0.000
15,1035259,The Naked Gun,Only one man has the particular set of skills....,en,2025-07-30,6.600
16,1280330,Operation Hadal,Mercenaries have occupied an offshore platform...,zh,2025-01-26,7.600
17,425274,Now You See Me: Now You Don't,The Four Horsemen return along with a new gene...,en,2025-11-12,6.200
18,1328803,Prisoner of War,British RAF Wing Commander James Wright is cap...,en,2025-09-19,7.100
19,1218925,Chainsaw Man - The Movie: Reze Arc,"In a brutal war between devils, hunters, and s...",ja,2025-09-19,8.255

In [21]:
df[df['original_language']=='hi']

,id,title,overview,original_language,release_date,vote_average
4,1561969,Baramulla,A police officer investigating missing childre...,hi,2025-11-07,0.0

In [22]:
df.sort_values(by='vote_average',ascending=False)

,id,title,overview,original_language,release_date,vote_average
19,1218925,Chainsaw Man - The Movie: Reze Arc,"In a brutal war between devils, hunters, and s...",ja,2025-09-19,8.255
13,701387,Bugonia,Two conspiracy obsessed young men kidnap the h...,en,2025-10-23,7.800
0,1062722,Frankenstein,"Dr. Victor Frankenstein, a brilliant but egoti...",en,2025-10-17,7.762
16,1280330,Operation Hadal,Mercenaries have occupied an offshore platform...,zh,2025-01-26,7.600
5,1197137,Black Phone 2,"Four years after escaping The Grabber, Finney ...",en,2025-10-15,7.216
18,1328803,Prisoner of War,British RAF Wing Commander James Wright is cap...,en,2025-09-19,7.100
9,617126,The Fantastic 4: First Steps,Against the vibrant backdrop of a 1960s-inspir...,en,2025-07-23,7.098
2,1242898,Predator: Badlands,"Cast out from his clan, a young Predator finds...",en,2025-11-05,6.753
1,1114967,Good Fortune,A well-meaning but rather inept angel named Ga...,en,2025-10-14,6.700
15,1035259,The Naked Gun,Only one man has the particular set of skills....,en,2025-07-30,6.600
10,1252382,Tyler Perry's Finding Joy,"Joy, a successful designer, seeks a proposal a...",en,2025-11-05,6.545
7,760329,The Smashing Machine,"In the late 1990s, up-and-coming mixed martial...",en,2025-10-01,6.400
17,425274,Now You See Me: Now You Don't,The Four Horsemen return along with a new gene...,en,2025-11-12,6.200
3,7451,xXx,Xander Cage is your standard adrenaline junkie...,en,2002-08-09,6.000
6,1571470,The Rats: A Witcher Tale,"To pull off a daring heist, a gang of six misf...",en,2025-10-29,5.000
4,1561969,Baramulla,A police officer investigating missing childre...,hi,2025-11-07,0.000
11,1479945,Wicked: One Wonderful Night,Cynthia Erivo and Ariana Grande lead a one-tim...,en,2025-11-06,0.000
8,1446358,Groom & Two Brides,Adam hilariously juggles marrying his boss's d...,ar,2025-11-07,0.000
14,1084242,Zootopia 2,After cracking the biggest case in Zootopia's ...,en,2025-11-26,0.000
12,967941,Wicked: For Good,As an angry mob rises against the Wicked Witch...,en,2025-11-17,0.000

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 20 non-null     int64
 1   title              20 non-null     object
 2   overview           20 non-null     object
 3   original_language  20 non-null     object
 4   release_date       20 non-null     object
 5   vote_average       20 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.1+ KB

In [34]:
df['release_date']=pd.to_datetime(df['release_date'],format='%Y-%m-%d',errors='coerce')

In [35]:
df['release_date'].dtype

dtype('<M8[ns]')

In [36]:
df.sort_values(by='release_date',ascending=False)

,id,title,overview,original_language,release_date,vote_average
14,1084242,Zootopia 2,After cracking the biggest case in Zootopia's ...,en,2025-11-26,0.000
12,967941,Wicked: For Good,As an angry mob rises against the Wicked Witch...,en,2025-11-17,0.000
17,425274,Now You See Me: Now You Don't,The Four Horsemen return along with a new gene...,en,2025-11-12,6.200
4,1561969,Baramulla,A police officer investigating missing childre...,hi,2025-11-07,0.000
8,1446358,Groom & Two Brides,Adam hilariously juggles marrying his boss's d...,ar,2025-11-07,0.000
11,1479945,Wicked: One Wonderful Night,Cynthia Erivo and Ariana Grande lead a one-tim...,en,2025-11-06,0.000
10,1252382,Tyler Perry's Finding Joy,"Joy, a successful designer, seeks a proposal a...",en,2025-11-05,6.545
2,1242898,Predator: Badlands,"Cast out from his clan, a young Predator finds...",en,2025-11-05,6.753
6,1571470,The Rats: A Witcher Tale,"To pull off a daring heist, a gang of six misf...",en,2025-10-29,5.000
13,701387,Bugonia,Two conspiracy obsessed young men kidnap the h...,en,2025-10-23,7.800
0,1062722,Frankenstein,"Dr. Victor Frankenstein, a brilliant but egoti...",en,2025-10-17,7.762
5,1197137,Black Phone 2,"Four years after escaping The Grabber, Finney ...",en,2025-10-15,7.216
1,1114967,Good Fortune,A well-meaning but rather inept angel named Ga...,en,2025-10-14,6.700
7,760329,The Smashing Machine,"In the late 1990s, up-and-coming mixed martial...",en,2025-10-01,6.400
18,1328803,Prisoner of War,British RAF Wing Commander James Wright is cap...,en,2025-09-19,7.100
19,1218925,Chainsaw Man - The Movie: Reze Arc,"In a brutal war between devils, hunters, and s...",ja,2025-09-19,8.255
15,1035259,The Naked Gun,Only one man has the particular set of skills....,en,2025-07-30,6.600
9,617126,The Fantastic 4: First Steps,Against the vibrant backdrop of a 1960s-inspir...,en,2025-07-23,7.098
16,1280330,Operation Hadal,Mercenaries have occupied an offshore platform...,zh,2025-01-26,7.600
3,7451,xXx,Xander Cage is your standard adrenaline junkie...,en,2002-08-09,6.000