In [55]:
import pandas as pd
import numpy as np

In [56]:
df=pd.read_csv('advertising.csv')
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [59]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

### Using sklearn Linear Regression

In [60]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [61]:
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)

In [62]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.8645053923967725

### Coding Multiple Linear Regression from Scratch

In [65]:
class myMultipleLR:
    def __init__(self):
        self.coef_=None
        self.intercept_=None
    
    def fit(self,x_train,y_train):
        x_train=np.hstack((np.ones((160,1)),x_train))
        betas=np.linalg.inv(np.dot(x_train.T,x_train)).dot(x_train.T).dot(y_train)
        self.intercept_=betas[0]
        self.coef_=betas[1:]
        
    def predict(self,x_test):
        y_pred=np.dot(x_test,self.coef_)+self.intercept_
        return y_pred

In [66]:
myMLR=myMultipleLR()
myMLR.fit(x_train,y_train)

In [67]:
y_pred=myMLR.predict(x_test)

In [68]:
r2_score(y_test,y_pred)

0.8645053923967722